/* Basic CSS */
html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
}


/* Fixing Image */
#back-img {
    z-index: -1;
    top: 0;
    right: 0;
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#change-page {
    width: 100%;
    height: 100%; 
}

/* Div Settings for login bar */

/* LOGO */
.change-img {
    top: 15%;
    left: 42%;
    z-index: 1;
    margin-bottom: 5px;
    padding: 0;
    position: fixed;
}

/* Box */

#change-box {
    background-color: #fff;
    position: fixed;
    top: 25%;
    left: 32%;
    width: 530px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-right: 10px;
    
}

/* Heading Setting */
.change-heading-1 {
    color: #6255a5;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.change-heading-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #333333;
}

/* Form Settings Password */
.form-pass label {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.form-pass input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a9a;
}

.field-icon {
    margin: -25px 0 0 0;
    position: relative;
    z-index: 5; 
}



.btn-submit {
  background-color: #6255a5;
  width: 480px;
  height: 40px;
  border-radius: 3px;
  margin-top: 20px;
}
.btn-submit a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media only screen and (min-width:1600px) {
  #change-box {
    left: 38%;
    top: 22%;
  }
  .change-img {
    top: 15%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1600px) {
  #change-box {
    left: 35%;
  }
}
@media only screen and (min-width:770px) and (max-width:1100px) {
  #change-box {
    top: 10%;
    left: 28%;
    padding-bottom: 0;
    padding-top: 0;
  }
  .change-img {
    top: 2%;
    left: 40%;
}
}
@media only screen and (min-width:660px) and (max-width:770px) {
  #change-box {
    top: 12%;
    left: 18%;
    padding-bottom: 0;
  }
  .change-img {
    top: 5%;
    left: 32%;
}
}
@media only screen and (min-width:581px) and (max-width:660px) {
  #change-box {
    left: 8%;
  }
  .change-img {
    left: 18%;
}
}
@media only screen and (min-width:540px) and (max-width:581px) {
  #change-box {
    left: 1%;
  }
  .change-img {
    left: 20%;
}
}

@media only screen and  (min-width:300px) and (max-width:539px) {
  .change-img {
    top: 8%;
    left: 22%;
}
.change-img img {
  width: 200px;
}

/* Box */
#change-box {
    top: 16%;
    left: 18%;
    width: 240px;
    padding: 10px 10px 0 10px;   
}

/* Heading Setting */
.sign-heading {
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.change-heading-1 {
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.change-heading-2 {
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Form Settings Email */

.form-group {
  margin: 0 0 10px 0;
}
.form-pass label {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 0;
  margin-top: 10px;
}

.form-pass input::placeholder {
  font-size: 10px;
  line-height: 8px;
}



.btn-submit {
  width: 220px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
}

@media only screen and (max-width:300px) {
  .change-img {
    top: 8%;
    left: 2%;
}
.change-img img {
  width: 200px;
}

/* Box */
#change-box {
    top: 16%;
    left: 2%;
    width: 250px;
    padding: 15px 15px 15px 15px;   
}

/* Heading Setting */
.sign-heading {
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.change-heading-1 {
    padding-bottom: 3px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}
.change-heading-2 {
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Form Settings */
.form-group {
  margin: 0 0 5px 0;
}
.form-pass label {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 0;
}

.form-pass input::placeholder {
  font-size: 10px;
  line-height: 14px;
}



.btn-submit {
  width: 220px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
}