/* Basic CSS */
html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

section {
  background: #fff;
  overflow: hidden;
}

/* Fixing Image */
#back-img {
    z-index: -1;
    top: 0;
    right: 0;
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#sign-page {
    width: 100%;
    height: 100%; 
}

/* Div Settings for login bar */

/* LOGO */
.sign-img {
    top: 5%;
    left: 42%;
    z-index: 1;
    margin-bottom: 5px;
    padding: 0;
    position: fixed;
}

/* Box */

#sign-box {
    background-color: #fff;
    position: fixed;
    top: 14%;
    left: 34%;
    width: 530px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
    margin-right: 10px;
    
}

/* Heading Setting */
.sign-heading {
  text-align: center;
  padding-left: 100px;
}
.sign-heading-1 {
    color: #6255a5;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}


.sign-heading-2 {
  font-size: 12px;
  padding-top: 4px;
  font-weight: 400;
  line-height: 15px;
  color: #333333;
  padding-bottom: 0;
  margin-bottom: 4px;
}

.sign-heading-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: rgb(41, 184, 60);
}
.sign-heading-3 img {
  width: 15px;
  height: 15px;
}
/* Form Settings Email */


.form-email label, .form-pass label{
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #333333;
  padding-bottom: 0;
  margin-bottom: 0;
}

.form-email input::placeholder, .form-pass input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a9a;
}

.field-icon {
    margin: -30px 0 0 0;
    position: relative;
    z-index: 5; 
}

.btn-submit {
  background-color: #6255a5;
  width: 480px;
  height: 40px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border: none;
}

.login-page {
  font-size: 16px;
  padding-top: 10px;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
  text-align: center;
}

.login-page a {
  color: #6255a5;
}

@media only screen and (min-width:1600px){
  #sign-box {
    left: 39%;
    top: 18%;
  }
  .sign-img {
    top: 10%;
    left: 45%;
  }
}
@media only screen and (min-width:770px) and (max-width:1100px) {
  #sign-box {
    top: 6%;
    left: 25%;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .sign-img {
    top: 2%;
    left: 40%;
}
}
@media only screen and (min-width:660px) and (max-width:770px) {
  #sign-box {
    top: 8%;
    left: 18%;
    padding-bottom: 0;
  }
  .form-group {
    margin-bottom: 12px;
  }
  .sign-img {
    top: 3%;
    left: 32%;
}
}
@media only screen and (min-width:581px) and (max-width:660px) {
  #sign-box {
    left: 7%;
  }
  .sign-img {
    left: 27%;
}
}
@media only screen and (min-width:540px) and (max-width:581px) {
  #sign-box {
    left: 1%;
    top: 10%;
  }
  .sign-img {
    left: 20%;
    top: 3%;
}
}
@media only screen and  (min-width:300px) and (max-width:539px) {
  .sign-img {
    top: 1%;
    left: 22%;
}
.sign-img img {
  width: 200px;
}

/* Box */
#sign-box {
    top: 8%;
    left: 19%;
    width: 240px;
    padding: 5px 5px 0 15px;   
}

.sign-heading {
  text-align: center;
  padding: 0;
}
.sign-heading-1 {
    color: #6255a5;
    font-size: 18px;
    line-height: 24px;
}

.sign-heading-2 {
  font-size: 14px;
  padding-top: 2px;
  line-height: 14px;
  margin-bottom: 4px;
}
.form-group {
  margin: 0 0 5px 0;
}
.sign-heading-3 {
  font-size: 14px;
  line-height: 14px;
}
.sign-heading-3 img {
  width: 11px;
  height: 11px;
}
/* Form Settings Email */
.form-email label, .form-pass label {
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

.form-email input::placeholder, .form-pass input::placeholder {
  font-size: 12px;
  line-height: 16px;
}

.btn-submit {
  width: 210px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.login-page {
  font-size: 12px;
  padding-top: 5px;
  line-height: 16px;
}
}
@media only screen and (max-width:300px) {
  .sign-img {
    top: 2%;
    left: 12%;
}
.sign-img img {
  width: 200px;
}

/* Box */
#sign-box {
    top: 5%;
    left: 8%;
    width: 240px;
    padding: 10px 10px 0 10px;   
}

.sign-heading {
  text-align: center;
  padding: 0;
}
.sign-heading-1 {
    color: #6255a5;
    font-size: 18px;
    line-height: 24px;
}

.sign-heading-2 {
  font-size: 14px;
  padding-top: 2px;
  line-height: 14px;
  margin-bottom: 4px;
}
.form-group {
  margin: 0 0 5px 0;
}
.sign-heading-3 {
  font-size: 14px;
  line-height: 14px;
}
.sign-heading-3 img {
  width: 11px;
  height: 11px;
}
/* Form Settings Email */
.form-email label, .form-pass label {
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

.form-email input::placeholder, .form-pass input::placeholder {
  font-size: 12px;
  line-height: 16px;
}

/* Form Settings Password */
.btn-submit {
  width: 210px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.login-page {
  font-size: 12px;
  padding-top: 5px;
  line-height: 16px;
}
}