/* -----------------------------------
-------------Buttons------------------
--------------------------------------*/
.btn-general a {
    width: 112px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}


.allBtn {
    background-color: #6255a5;
}


/*----------------------------
---------- navigation -----------
-----------------------------*/
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: #000;
    margin: 0;
}

/*----------------------------
---------- Navigation ---------------
-----------------------------*/
.navbar {
	height: 100px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	position: fixed;
	display: flex;
    background-color: #fff;
}

ul.navbar-nav > li {
	margin: 0 10px;
	line-height: 35px;
}

ul.navbar-nav > li > a {
	font-size: 16px;
	font-weight: 600;
	display: inline-flex;
	color: #333333;
	white-space:nowrap;
}


/*----------------------------
--- Scroll Spy Active State ----
-----------------------------*/
.active {
    color: #6255a5 !important;
    border-bottom: 3px solid #6255a5;
}
/*----------------------------
---------- Home ---------------
-----------------------------*/

#home-overlay {
    height: 250px;
}
.home-overlay-img {
    width: 100%;
    height: 100% !important;
    top: 0;
    z-index: -1;
    position: relative;
}

#home-content {
    position: absolute;
    top: 10%;
    left: 40%;
}

#home-heading {
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
    padding-top: 80px;
}

/*----------------------------
---------- Filter -----------
-----------------------------*/
#filter {
    margin: 60px 0;
}
#filter-heading {
    font-size: 24px;
    font-weight: 600;
    list-style: 28px;
    color: #6255a5;
    margin-bottom: 20px;
}
#filter-box {
    background-color: #f9f9f9;
    padding: 30px;
}
.row1 {
    margin-bottom: 20px;
}
.row1 img {
    width: 15px;
}
.input-group-text {
    background-color: #ffffff;
}

/*----------------------------
---------- Notes -----------
-----------------------------*/

.notes-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #6255a5
}
.notes-books {
    width: 350px !important;
    margin-bottom: 50px;
    border-radius: 3px;
    box-shadow: 0 8px 6px -9px #999;
    border: 1px solid #d1d1d1;
    padding-bottom: 20px;   
    align-self: center;
}

.notes-image {
    width: 350px !important;
    height: 253px;
    border: 1px solid #d1d1d1;
}
.note-head {
    margin-top: 15px;
}
.note-head p {
    color: #6255a5;
    line-height: 26px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px 0 10px;
}
.note-sub i {
    color: #333333;
}
.note-sub p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding: 0;
}

.pa-red {
    color: red !important;
    font-size: 9px;
}

.rate img {
    float: right;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.search-review {
    padding: 0;
}
.search-review p {
    margin: 0;
    padding: 0 0 0 0;
    text-align: left;
}
/*----------------------------
---------- Pagination -----------
-----------------------------*/
#isotope-filters {
    margin: auto;
    display: block;
    align-self: center;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    margin-left: 10px;
    padding: 0 10px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #6255a5;
    color: #ffffff;
    border-radius: 50%;
  }
  #isotope-filters .active {
      color: #ffffff !important;
  }
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
  }

/*----------------------------
---------- Footer ---------------
-----------------------------*/

footer {
    position: fixed;
	display: flex;
	border-top: 1px solid #d1d1d1;
	background-color: #ffffff;
	bottom: 0;
	line-height: 50px;
	height: 50px;
	width: 100%;
	color: #333333;
}

footer li {
    color: #000;
    line-height: 20px;
    margin: 0;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
    text-align: right;
}

.social-list img {
    width: 30px;
    height: 30px;
}
.social-footer .col-6 {
    margin: 0;
    padding: 0;
}

/*----------------------------
---- Mobile Menu --------
-----------------------------*/
.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 40px;
    cursor: pointer;
    color: #6255a5;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: -540px;
    /* Hide Mobile nav Open Button*/
    display: none;
}

#mobile-nav {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #6255a5;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}
#mobile-nav  ul {
    list-style-type: none;
}
#mobile-nav > ul > li {
    margin-bottom: 20px;
    list-style-type: none;
}

#mobile-nav a {
    font-size: 30px;
    color: #6255a5;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #d3d3d3;
    background: none;
    text-decoration: none;
}

/*----------------------------
 Mobile nav Scroll Spy Active State 
-----------------------------*/
.white-nav-top #mobile-nav ul.nav > li.active > a {
    color: #f4c613;
    font-weight: 500;
}
@media (max-width: 2561px) and (min-width:1251px) {
    .navbar-nav {
        margin-left: 250px;
    }
}
@media (max-width: 1250px) and (min-width:1150px) {
    .navbar {
        width: 1920px;
        left: -250px;
    }
    .navbar-nav {
        margin-left: 50px;
    }
} 
@media (max-width: 1150px) and (min-width:1050px) {
    .navbar {
        width: 1920px;
        left: -300px;
    }
} 
@media (max-width: 1050px) and (min-width:992px) {
    .navbar {
        width: 1920px;
        left: -350px;
    }
}
@media (max-width: 992px) {
    /* Show Mobile nav Open Button*/
    #mobile-nav-open-btn {
        display: block;
    }
}
@media (max-width: 910px) {
    #mobile-nav-open-btn {
        position: absolute;
        top: -9px;
        right: -440px;
    }
    #home-heading p {
        position: absolute;
        top: 5px;
        white-space:nowrap;
    }
}
/*-- Extra Small Devices(Landscape Phone & Small Portrait Tablets)--*/
@media (max-width: 768px) {

    /* Navigation */
    .navbar {
        padding: 20px 0;
    }

    .navbar-brand img {
        width: 200px;
        left: 10px;
        position: relative;
    }
}
@media (max-width: 767px) {
    #mobile-nav-open-btn {
        position: absolute;
        top: -9px;
        right: -240px;
    }
   
}
@media (max-width: 580px) {
    .navbar-brand img {
        position: absolute;
        left: 50px;
        width: 300px;
        top: -5px;
    }
    #mobile-nav-open-btn {
        position: absolute;
        top: -9px;
        right: -440px;
    }
}

@media (max-width: 450px) {
    .navbar-brand img {
        position: absolute;
        left: 50px;
        width: 270px;
        top: -5px;
    }
    #mobile-nav-open-btn {
        position: absolute;
        top: -14px;
        right: -360px;
    }
    #home-heading p {
        font-size: 24px;
    }
}

@media (max-width: 370px) {
    .navbar-brand img {
        position: absolute;
        left: 50px;
        width: 200px;
        top: -5px;
    }
    #mobile-nav-open-btn {
        position: absolute;
        top: -18px;
        right: -300px;
    }
    footer {
        position: initial;
    }
}
@media (max-width: 300px) {
    #mobile-nav-open-btn {
        position: absolute;
        top: -18px;
        right: -240px;
    }
    .navbar-brand img {
        position: absolute;
        left: 20px;
        width: 200px;
        top: -5px;
    }
}