/* Basic CSS */
html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

/* Fixing Image */
#back-img {
    z-index: -1;
    top: 0;
    right: 0;
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#forget-page {
    width: 100%;
    height: 100%; 
}

/* Div Settings for login bar */

/* LOGO */
.forget-img {
    top: 25%;
    left: 42%;
    z-index: 1;
    margin-bottom: 5px;
    padding: 0;
    position: fixed;
}

/* Box */

#forget-box {
    background-color: #fff;
    position: fixed;
    top: 35%;
    left: 32%;
    width: 530px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 40px;
    margin-right: 10px;
    
}

/* Heading Setting */
.forget-heading-1 {
    color: #6255a5;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}


.forget-heading-2 {
  font-size: 12px;
  padding-top: 10px;
  line-height: 15px;
  color: #333333;
}

/* Form Settings Email */
.form-email-pass {
  margin-top: 10px;
}

.form-email label {
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  padding-bottom: 2px;
}

.form-email input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #8a8a9a;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.btn-submit {
  background-color: #6255a5;
  width: 480px;
  height: 40px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
  color: #fff;
}

@media only screen and (min-width:1600px) {
  #forget-box {
    left: 38%;
    top: 22%;
  }
  .forget-img {
    top: 15%;
  }
}
@media only screen and (min-width:1100px) and (max-width:1600px) {
  #forget-box {
    left: 35%;
  }
}
@media only screen and (min-width:770px) and (max-width:1100px) {
  #forget-box {
    top: 10%;
    left: 28%;
    padding-bottom: 0;
    padding-top: 0;
  }
  .forget-img {
    top: 2%;
    left: 40%;
}
}
@media only screen and (min-width:660px) and (max-width:770px) {
  #forget-box {
    top: 12%;
    left: 18%;
    padding-bottom: 0;
  }
  .forget-img {
    top: 5%;
    left: 32%;
}
}
@media only screen and (min-width:581px) and (max-width:660px) {
  #forget-box {
    left: 8%;
  }
  .forget-img {
    left: 18%;
}
}
@media only screen and (min-width:540px) and (max-width:581px) {
  #forget-box {
    left: 1%;
  }
  .forget-img {
    left: 20%;
}
}

@media only screen and  (min-width:300px) and (max-width:539px) {
  .forget-img {
    top: 8%;
    left: 22%;
}
.forget-img img {
  width: 200px;
}

/* Box */
#forget-box {
    top: 16%;
    left: 18%;
    width: 240px;
    padding: 10px 10px 0 10px;   
}

/* Heading Setting */
.forget-heading {
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.forget-heading-1 {
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.forget-heading-2 {
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Form Settings Email */
.form-group {
  margin: 0 0 20px 0;
}
.form-email label {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 0;
  margin-top: 10px;
}

.btn-submit {
  width: 220px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
}

@media only screen and (max-width:300px) {
  .forget-img {
    top: 8%;
    left: 2%;
}
.forget-img img {
  width: 200px;
}

/* Box */
#forget-box {
    top: 16%;
    left: 2%;
    width: 250px;
    padding: 15px 15px 15px 15px;   
}

/* Heading Setting */
.forget-heading {
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.forget-heading-1 {
    padding-bottom: 3px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}
.forget-heading-2 {
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Form Settings Email */
.form-email-pass {
  margin-top: 0;
}
.form-group {
  margin: 0 0 10px 0;
}
.form-email label {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 0;
}

.form-email input::placeholder {
  font-size: 10px;
  line-height: 14px;
}

.btn-submit {
  width: 220px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
}