
/* -----------------------------------
-------------Buttons------------------
--------------------------------------*/
.btn-general a {
    width: 112px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-general-white {
    width: 200px;
    height: 40px;
    border: 2px solid #fff;
    margin-left: 10%;
}

.btn-general-white a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}

.allBtn {
    background-color: #6255a5;
}

.btn-login-nav {
    color: #fff !important;
    background-color: blue;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-login-nav:hover,
.btn-login-nav:focus {
    color: blue !important;
    background-color: rgb(179, 166, 166) !important;
}

/*----------------------------
---------- navigation -----------
-----------------------------*/
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: #000;
    margin: 0;
}

.navbar {
    height: 100px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    
}

ul.navbar-nav > li {
    margin: 0 20px;
}

ul.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    line-height: 20px;
    color: #ffffff;
    white-space:nowrap;
}

/*----------------------------
---- White Navigation --------
-----------------------------*/
.navbar-light {
    color: #000;
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.navbar-light ul.navbar-nav > li > a {
    color: #212226;
    white-space:nowrap;
}

.navbar-light ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    color: #6255a5;
}

/*----------------------------
---------- Home ---------------
-----------------------------*/

.home-overlay-img {
    height: 620px;
    width: 100%;
    top: 0;
    z-index: -1;
    position: relative;
}

#home-content {
    position: absolute;
    top: 10%;
    left: 10%;
}

#home-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
    padding-top: 80px;
    padding-left: 10%;
}

#home-heading-1 {
    padding: 0;
    margin: 0;
}
#home-heading-2 {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}
#home-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10%;
}


/*----------------------------
---------- About ---------------
-----------------------------*/

#about-right p:first-child {
    margin-bottom: 50px;
}

#about {
    margin: 60px 0;
}
#about-left .vertical-heading p {
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

#about-right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

/*----------------------------
---------- Work ---------------
-----------------------------*/

#work-box {
    background-color: #f4f4f4;
    padding: 60px;
}

#work-heading {
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    padding-bottom: 15px;
}


.work-top {
    width: 140px;
    height: 140px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
    padding: 35px;
    border-radius: 50% !important;
    text-align: center;
}
.work-top {
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

.work-bottom-1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}
.work-bottom-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 40px;
}
.work-btn {
    margin-bottom: 30px;
}
/*----------------------------
---------- Custommer ---------------
-----------------------------*/
#customer {
    margin: 60px 0 60px 0;
}

#customer-heading {
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 40px;
}

.customer-box {
    width: 550px;
    height: 278px;
    border-radius: 3px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
    width: 100%;
    height: 100%;
    padding: 40px; 
}

.customer-boxes {
    margin: 20px 0;
}

.img-fluid {
    height: 100px;
    width: 100px;
}
.cus-name-1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;
    padding: 0;
    margin: 0;
}
.cus-name-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding: 0;
    margin: 0;
}
.customer-review {
    padding-top: 30px;
}
.customer-review p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #333333;
    align-self: left;
}
/*----------------------------
---------- Footer ---------------
-----------------------------*/

footer {
    position: fixed;
	display: flex;
	border-top: 1px solid #d3d3d3;
	background-color: #ffffff;
	bottom: 0;
	line-height: 50px;
	height: 50px;
	width: 100%;
	color: #333333;
}
footer li {
    color: #000;
    line-height: 20px;
    margin: 0;
}
.footer1 {
    display: inline-block;
    padding: 0;
}
ul.social-list li {
    display: inline-block;
    padding: 0;
}
.social-list img {
    width: 30px;
    height: 30px;
}

/*----------------------------
---- Mobile Menu --------
-----------------------------*/
.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 40px;
    cursor: pointer;
    color: #6255a5;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: -540px;
    /* Hide Mobile nav Open Button*/
    display: none;
}

#mobile-nav {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #6255a5;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}
#mobile-nav  ul {
    list-style-type: none;
}
#mobile-nav > ul > li {
    margin-bottom: 20px;
    list-style-type: none;
}

#mobile-nav a {
    font-size: 24px;
    color: #6255a5;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav li div a {
    color: #494444;
    padding: 10px;
}
#mobile-nav li div a:hover {
    background-color: #6255a5;
    color: #fff;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #d3d3d3;
    background: none;
    text-decoration: none;
}

/*----------------------------
 Mobile nav Scroll Spy Active State 
-----------------------------*/
.white-nav-top #mobile-nav ul.nav > li.active > a {
    
    font-weight: 500;
}
@media (max-width: 2561px) and (min-width:1251px) {
    .navbar-nav {
        margin-left: 50px;
    }
}
@media (max-width: 1250px) and (min-width:1150px) {
    .navbar {
        width: 1920px;
        left: -350px;
    }
    .navbar-nav {
        margin-left: -5px;
    }
} 
@media (max-width: 1150px) and (min-width:1050px) {
    .navbar {
        width: 1920px;
        left: -385px;
    }
    .navbar-nav {
        margin-left: -5px;
    }
} 
@media (max-width: 1050px) and (min-width:992px) {
    .navbar {
        width: 1920px;
        left: -440px;
    }
    .navbar-nav {
        margin-left: -5px;
    }
}
@media (max-width: 992px) {
    /* Show Mobile nav Open Button*/
    #mobile-nav-open-btn {
        display: block;
    }
}
@media (max-width: 910px) {
    #mobile-nav-open-btn {
        position: absolute;
        top: -9px;
        right: -440px;
    }
    
}
/*-- Extra Small Devices(Landscape Phone & Small Portrait Tablets)--*/
@media (max-width: 768px) {

    /* Navigation */
    .navbar {
        padding: 20px 0;
    }

    .navbar-brand img {
        width: 200px;
        left: 10px;
        position: relative;
    }
}
@media (max-width: 767px) {
    #mobile-nav-open-btn {
        position: absolute;
        top: -9px;
        right: -240px;
    }
   
}
@media (max-width: 660px) {
   
    #home-heading div {
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    #home-text {
        font-size: 16px;
    }
}
@media (max-width: 580px) {
    .navbar-brand img {
        position: absolute;
        left: 50px;
        width: 300px;
        top: -5px;
    }
    #mobile-nav-open-btn {
        position: relative;
        top: -9px;
        right: -440px;
    }
   
    footer {
        padding-bottom: 40px;
    }
}

@media (max-width: 450px) {
    #home-heading div {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    #home-headind
    #home-text {
        font-size: 12px;
    }
    .navbar-brand img {
        position: absolute;
        left: 50px;
        width: 270px;
        top: -5px;
    }
    #mobile-nav-open-btn {
        position: absolute;
        top: -14px;
        right: -360px;
    }
}

@media (max-width: 370px) {
    .navbar-brand img {
        position: absolute;
        left: 50px;
        width: 200px;
        top: -5px;
    }
    #mobile-nav-open-btn {
        position: absolute;
        top: -18px;
        right: -300px;
    }
    #about-left .vertical-heading p {
        font-size: 28px;
    }
    footer {
        position: initial;
    }
}
@media (max-width: 300px) {
    #mobile-nav-open-btn {
        position: absolute;
        top: -18px;
        right: -240px;
    }
    .navbar-brand img {
        position: absolute;
        left: 20px;
        width: 200px;
        top: -5px;
    }
}